.wrapperPeopleDetails, .swiper-wrapper, .swiper-slide {
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(rgba($blue-color, 0.5), rgba($blue-color, 0.8)), url('../images/bg_details.jpg') no-repeat center;
  background-size: cover;
  width: 100vw;
  height: $height-main;
  .wrapperTimes {
    @include transform(scale(1) rotate(0deg),0.5s linear);
    flex-basis: 100%;
    align-self: flex-start;
    position: absolute;
    bottom: 88%;
    left: 95%;
    &:hover {
      @include transform(scale(1.5) rotate(15deg),0.5s linear);
    }

    span {
      color: $white-color;
      font-size: 3.5vw;
    }
  }

  .wrapperPersonDetails {
    @include flexbox;
    @include transform(scale(1),all 0.4s linear);
    flex-wrap: wrap;
    height: 39%;
    width: 57%;
    border: 0.3em dashed rgba($white-color, 0.3);
    color: $white-color;
    &:hover {
      @include transform(scale(1.05),all 0.4s linear);
    }

    h3 {
      @include flexbox;
      align-items: flex-end;
      flex-basis: 100%;
      height: 43%;
      font-size: 5vh;
      font-weight: $font-weight-primary;
      text-shadow: -2px -2px #787878;
    }
    h2 {
      align-items: flex-start;
      font-size: 9.1vh;
      height: 57%;
      font-weight: $font-weight-primary+700;
      text-shadow: -2px -1px #787878;
    }

  }
}

.swiper-button-prev {
  @include transform(scale(1),all 0.4s linear);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
  margin-left: 2%;
  background-size: 110%;
  &:hover {
    @include transform(scale(1.3),all 0.4s linear);
  }
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
  margin-right: 2%;
  background-size: 110%;
  @include transform(scale(1),all 0.4s linear);
  &:hover {
    @include transform(scale(1.3),all 0.4s linear);
  }
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

.swiper-pagination-bullet-active{
  background:white;
}